<nav
  class="bg-app-red border-gray-200 sm:px-4 py-2.5 flex container mx-auto px-40"
>
  <p
    class="text-white font-bold text-2xl hover:cursor-pointer"
    [routerLink]="['/']"
  >
    Ajialy
  </p>
  <div class="flex items-center w-full justify-end">
    <p
      class="text-white font-bold text-base hover:cursor-pointer"
      [routerLink]="['/']"
    >
      HOME
    </p>
    <p
      class="text-white font-bold text-base hover:cursor-pointer ml-5"
      [routerLink]="['/artist']"
    >
      ARTISTS
    </p>
    <p class="text-white font-bold text-base hover:cursor-pointer ml-5">
      LANGUAGE
    </p>
    <p class="text-white font-bold text-base hover:cursor-pointer ml-5">
      ABOUT
    </p>
  </div>
</nav>
