<div class="flex">
  <div
    class="w-40 h-40 rounded bg-cover bg-repeat-space bg-center"
    [ngStyle]="{ 'background-image': getImageUrl() }"
  ></div>
  <div class="flex flex-col items-start ml-5">
    <h2 class="text-5xl text-app-red font-bold mb-1.5">{{ name }}</h2>
    <h3 class="text-2xl text-app-red font-semibold">{{ country }}</h3>

    <div class="flex mt-auto">
      <app-social-media
        [artist]="getArtist()"
        [media]="'spotify'"
      ></app-social-media>
      <app-social-media
        [artist]="getArtist()"
        [media]="'youtube'"
      ></app-social-media>
      <app-social-media
        [artist]="getArtist()"
        [media]="'twitter'"
      ></app-social-media>
      <app-social-media
        [artist]="getArtist()"
        [media]="'instagram'"
      ></app-social-media>
    </div>
  </div>
</div>

<section class="mt-16">
  <div class="flex items-end">
    <h2 class="text-4xl text-app-red font-bold">Trending songs</h2>
    <p class="text-app-red ml-4 hover:cursor-pointer hover:underline text-lg">
      See all
    </p>
  </div>

  <div
    class="flex p-4 mt-2 hover:cursor-pointer hover:bg-slate-200 duration-300"
  >
    <p class="text-lg text-gray-400">1</p>
    <p class="ml-5 text-xl text-app-red">Bad example</p>
  </div>

  <div class="flex p-4 hover:cursor-pointer hover:bg-slate-200 duration-300">
    <p class="text-lg text-gray-400">2</p>
    <p class="ml-5 text-xl text-app-red">Cheating is a crime</p>
  </div>

  <div class="flex p-4 hover:cursor-pointer hover:bg-slate-200 duration-300">
    <p class="text-lg text-gray-400">3</p>
    <p class="ml-5 text-xl text-app-red">It's ok to envy</p>
  </div>

  <div class="flex p-4 hover:cursor-pointer hover:bg-slate-200 duration-300">
    <p class="text-lg text-gray-400">4</p>
    <p class="ml-5 text-xl text-app-red">Toy</p>
  </div>

  <div class="flex p-4 hover:cursor-pointer hover:bg-slate-200 duration-300">
    <p class="text-lg text-gray-400">5</p>
    <p class="ml-5 text-xl text-app-red">Just disappear</p>
  </div>
</section>

<section class="mt-16">
  <h2 class="text-4xl text-app-red font-bold">About the artist</h2>

  <div [innerText]="about" class="text-lg"></div>
</section>
