<app-artist-header [artist]="getArtist()"></app-artist-header>

<section class="mt-16">
  <div class="flex items-end">
    <h2 class="text-4xl text-app-red font-bold">Trending songs</h2>
    <p
      class="text-app-red ml-4 hover:cursor-pointer hover:underline text-lg"
      [routerLink]="['/artist/songs']"
    >
      See all
    </p>
  </div>

  <app-song-item
    *ngFor="let song of songs; index as songIndex"
    [song]="song"
    [index]="songIndex + 1"
  ></app-song-item>
</section>

<section class="mt-16">
  <h2 class="text-4xl text-app-red font-bold">About the artist</h2>

  <div [innerText]="about" class="text-lg"></div>
</section>
